/*Colors lighth-theme*/
$light-bg: #efefef;
$header: #e6e6e6;
$active: #fff3;
$white: #ffffff;
$mainColor: #3f3e3e;
$link: #3f51b5;
$border: #bababa;
$mianOutline: #87cefa;

/*Response Width*/
$md-mobile: 360px;
$lg-mobile: 540px;
$sm-tabletWidth: 640px;
$tabletWidth: 768px;
$desktopWidth: 1024px;


$sm-radius: 3px;
