/*Colors lighth-theme*/
$white-bg: #efefef;
$header: #e6e6e6;
$active: #fff3;
$white: #ffffff;
$mainColor: #3f3e3e;
$link: #3f51b5;
$border: #bababa;
$mainBg : #f4f4f4;
$mianOutline: #87cefa;

/*Response Width*/
$sm-tabletWidth: 640px;
$tabletWidth: 768px;
$desktopWidth: 1024px;


$sm-radius: 0px;
