.aside--separator-bottom {
  border-bottom: 1px solid $border;
}

.aside--separator-right {
  border-right:none;
}

@media (min-width: 768px) {
  .aside--separator-bottom {
    border-bottom: none;
  }

  .aside--separator-right {
    border-right: 1px solid $border;
  }
}
