//active: #ba3628

.auth__form {
  display: block;
  padding: 0;
  width: 420px;

  border-radius: 3px;
  overflow: hidden;

  background-color: #ea5241;

  & label {
    display: block;
    margin-bottom: 10px;

    font-size: 12px;
    color: #ffcccb;
    text-transform: capitalize;
  }

  & input {
    padding-left: 10px;

    width: 100%;
    height: 30px;

    font-size: 12px;
    color: #ffcccb;

    background-color: #ea5241;
    border: none;
    box-shadow: 0 0 0 1px #b93529;

    border-radius: 2px;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 1px #ffcccb;
    }
  }

  & span {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }

  & input[type="checkbox"] {
    background-color: #b93529;
    box-shadow: 0 0 0 1px #b93529;
    width: 15px;
    height: 15px;
  }
}

.auth__form-btn {
  width: 100px;
  height: 40px;

  color: #ffcccb;
  background-color: #b93529;
  text-transform: capitalize;
  font-size: 12px;

  border-radius: 2px;

  &:focus,
  &:hover {
    color: #b93529;
    background-color: #ea5241;
    box-shadow: 0 0 0 1px #b93529;
  }
}

.auth__form-layout {
  display: flex;
  flex-wrap: wrap;
}

.auth__form-reg-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.auth__form-reg-container {
  width: 100%;
}


.auth__form-reg-input {
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    margin: 0;
  }
}

.auth__form-reg-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;

  width: 100%;
}

.auth__form-toggle-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  width: 100%;
  height: 80px;
}

.auth__form-toggle {
  background-color: #ea5241;

  font-size: 12px;
  color: #ffcccb;
  text-transform: capitalize;

  &:focus,
  &:hover {
    background-color: #b93529;
  }
}


