.header__layout {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  height: 160px;

  & a svg{
    fill: $mainColor;
  }
}

.header__search {
  width: 100%;
}


@media (min-width: 640px) {
  .header__layout {
    flex-direction: row;
    height: 80px;
  }
}


@media(min-width: 768px) {
  .header__layout {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & a svg {
      fill: white;
    }
  }
}
