.header__layout {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  height: 160px;

  & a svg {
    fill: $mainColor;
  }
}

.header__search {
  width: 100%;
}

@media(min-width: $sm-tabletWidth) {
  .header__layout {
    display: grid;
    grid-template-columns: 180px 1fr;
    height: 80px;
    gap: 20px;

    & a {
      display: flex;
      justify-content: start;
    }
  }

  .header__search {
    margin-top: 15px;
  }
}