.main__layout {
  position: relative;
  display: grid;
  grid-template-areas:
    "aside"
    "content";
  grid-template-rows: 50px 1fr;

  min-height: 600px;
}

.main__aside,
.main__content {
  background-color: $light-bg;
}

.main__aside {
  position: fixed;
  top: 160px;
  left: 0;

  display: flex;
  align-items: center;
  grid-area: aside;
  justify-content: center;

  width: 100%;
  height: 50px;

  z-index: 1;
}

.main__content {
  position: relative;
  grid-area: content;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 200px;
    background-image: url('../../../img/master-placeholder.svg');
    background-repeat: no-repeat;
    background-size: 200px 200px;
  }
}

@media (min-width: $sm-tabletWidth) {
  .main__aside {
    top: 80px;
    padding-left: 25px;
  }

  .main__stat {
    min-height: min-content;
  }
}

@media(min-width: $tabletWidth) {
  .main__layout {
    position: static;

    grid-template-columns: 180px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside content";

    gap: 20px;
  }

  .main__content {
    border-left: 1px solid $border;
  }

  .main__aside {
    position: relative;
    top: 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, min-content);
    height: 100%;
    padding-left: 10px;
  }

  .main__stat {
    position: sticky;
    width: 100%;
    top: 100px;
  }

  .main__content {
    position: relative;
  }
}