.page__layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: $white-bg;
}

.page__main {
  grid-area: main;
}

.page__header {
  position: sticky;
  top: 0;

  background-color: $header;
  grid-area: header;
  z-index: 10;
  border-bottom: 1px solid $border;
}


@media (min-width: $tabletWidth) {
  .page__header {
    border-bottom: 1px solid $border;
  }

  .page__main {
    border-top: 1px solid $white;
  }
}
