.page__layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: $light-bg;

  min-height: 300px;
}

.page__main {
  grid-area: main;
}

.page__header {
  position: sticky;
  top: 0;

  background-color: $light-bg;
  grid-area: header;
  z-index: 10;
}

@media(min-width: $tabletWidth) {
  .page__layout {
    row-gap: 20px;
  }
}