.result__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;


  overflow: auto;
  background-color: $light-bg;
  z-index: 5;
}

.result__item {
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
  justify-content: center;
  padding: 10px;

  box-shadow: 0 1px 0 0 $border;
}

.result__cover {
  background-image: url("../../../img/master-placeholder.svg  ");
  background-repeat: no-repeat;
  background-position: center;
}

.result__master {
  font-weight: bold;
}

.result__title {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 100;
}

.result__link {
  font-size: 16px;
}

@media (min-width: $md-mobile) {
  .result__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $lg-mobile) {
  .result__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media(min-width: $tabletWidth) {
  .result__list {
    position: relative;

    grid-template-columns: 1fr 1fr;
    padding: 30px 20px;
    border: none;

    &:before {
      content: '';
      position: absolute;
      width: 80%;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      top: 0;

      background-color: $border;
    }
  }

  .result__cover {
    width: 180px;
    height: 180px;
  }
}

@media(min-width: $desktopWidth) {
  .result__list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
