.search-title {
  position: sticky;
  top: 50px;

  padding-top: 10px;
  padding-bottom: 10px;

  color: white;
  letter-spacing: 5px;
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;

  background-color: #363636;
}

.search__layout-wrap {
  position: sticky;
  top: 0;

  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 5px;
  width: 100%;
  height: 50px;

  background-color: #1d1d1d;
}

.search__form {
  display: grid;
  grid-template-columns: 1fr min-content;

  min-width: 300px;
  width: 540px;

  overflow: hidden;
  border: 1px solid #616161;

  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: #888;
  }

  & input[type="search"] {
    padding-left: 10px;
    border: none;

    color: #616161;

    font-family: inherit;
    font-size: 15px;


    background-color: transparent;
  }


  & button[type="submit"] {
    padding: 0 15px 0 15px;
    border: none;
    background-color: transparent;
  }

  & button[type="submit"] {
    fill: #616161;
  }

  & button[type="submit"]:hover,
  & button[type="submit"]:focus {
    background-color: #4444;
  }

  & button[type="submit"]:hover svg,
  & button[type="submit"]:focus svg {
    fill: #616161;
  }
}

.result-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  row-gap: 20px;

  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 1px solid lightgray;

  //max-height: 480px;
  //overflow: auto;
}

.search__item {
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));


  & p {
    font-size: 16px;
    & a {
      color: #666666;
    }
  }
}

.search__title {
  font-size: 14px;
  text-transform: capitalize;

  & a {
    font-weight: 100;
    color: #3e3e3e;
  }
}


@media(min-width: 768px) {
  .search__item {
    & img {
      width: 180px;
      height: 180px;
    }
  }
}
