.search__form {
  display: grid;
  grid-template-columns: 1fr min-content;

  min-width: 300px;
  width: 100%;

  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #787878;

  &:focus,
  &:focus-within{
    box-shadow: 0 0 0 3px lightskyblue;
  }

  & input[type="search"] {
    padding-left: 10px;
    height: 40px;
    border: none;

    color: $mainColor;

    font-family: inherit;
    font-size: 18px;
  }


  & button[type="submit"] {
    padding: 0 15px 0 15px;
    border: none;
    background-color: transparent;
  }

  & button[type="submit"] svg {
    fill: $mainColor;
  }

  & button[type="submit"]:hover svg,
  & button[type="submit"]:focus svg {
    fill: $border;
  }
}

::placeholder {
  color: $mainColor;
  font-weight: normal;
  font-size: 15px;
}

.search__item {
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
}

.search__title {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 100;
}

.search__link {
  font-size: 16px;
}


@media(min-width: 768px) {
  .search__item {
    & img {
      width: 180px;
      height: 180px;

      background-image: url("../../../img/master-placeholder.svg  ");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #e6eaed;

      border-radius: 2px;
    }
  }

  .search__form {
    & button[type="submit"] svg {
      fill: $border;
    }

    & button[type="submit"] svg:hover {
      fill: $mainColor;
    }
  }

  ::placeholder {
    font-weight: normal;
    font-size: 15px;
  }
}
