.search__form {
  display: grid;
  grid-template-columns: 1fr min-content;

  min-width: 300px;
  width: 100%;

  overflow: hidden;
  border-radius: $sm-radius;
  background-color: $light-bg;
  box-shadow: 0 0 0 1px $border;

  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 3px $mianOutline;
  }

  & input[type="search"] {
    padding-left: 10px;
    height: 40px;

    border: none;
    color: $mainColor;
    font-family: inherit;
    font-size: 18px;
    background-color: $light-bg;
  }

  & button[type="submit"] {
    padding: 0 15px 0 15px;

    border: none;
    background-color: $light-bg;
  }

  & button[type="submit"] svg {
    fill: $mainColor;
  }

  & button[type="submit"]:hover svg,
  & button[type="submit"]:focus svg {
    fill: $mianOutline;
  }
}

::placeholder {
  color: $mainColor;
  font-weight: normal;
  font-size: 15px;
}