.stat__content {
  display: flex;
  align-items: center;

  border-radius: 3px;
  border: 1px solid $border;
  background-color: $mainBg;
}

.stat__type {
  display: flex;
  align-self: center;

  padding: 5px;
  color: $link;
  border-radius: 4px;

  span {
    color: $link;
  }
}

.stat__icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;

  & svg {
    fill: $mainColor;
  }
}

.stat__text {
  display: none;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .stat__content {
    display: block;
  }

  .stat__type:focus,
  .stat__type:hover {
    background-color: $active;
  }

  .stat__icon {
    margin-right: 0;
  }

  .stat__text {
    margin-right: auto;
    display: block;
  }
}
