.stat__content {
  display: flex;
  align-items: center;
}

.stat__type {
  display: flex;
  align-items: center;

  padding: 5px;
  color: $mainColor;

  span {
    color: $link;
  }

  &:focus,
  &:hover {
    background-color: $mainBg;
  }
}

.stat__icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;

  & svg {
    fill: $mainColor;
  }
}

.stat__text {
  display: none;
  margin-left: 10px;
}

@media (min-width: $tabletWidth) {
  .stat__content {
    display: block;
    border: none;
  }

  .stat__icon {
    margin-right: 0;
  }

  .stat__text {
    margin-right: auto;
    display: block;
  }
}